---
import Layout from '../../layouts/Layout.astro';
import { queryCMS } from '../../lib/cms';
import BlogPostCard from '../../components/BlogPostCard.astro';

const query = `
  query {
    allBlogs {
      id
      title
      slug
      categories {
        title
        slug
      }
      featuredImage {
        responsiveImage(imgixParams: { fit: max, auto: format }) {
          src
          width
          height
          alt
          title
          base64
        }
      }      
    }
    blogList {
      title
      _seoMetaTags {
        tag
        attributes
        content
      }           
    }     
  }
`;

const { allBlogs, blogList} = await queryCMS(query);
---

<Layout additionalSeo={blogList._seoMetaTags}>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 uppercase bg-foreground text-background inline-block p-4">{blogList.title}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {allBlogs.map((blogPost) => (
        <BlogPostCard blogPost={blogPost} />
      ))}
    </div>
  </div>
</Layout>
