---
const { blogPost } = Astro.props;
---

<style>
  .blog-post-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    border-radius: 1px;
    background: #1E1E1E;

    & h3 {
      color: #FFF;
      font-size: 12px;
    }

    & ul {
      display: flex;
      gap: 10px;
    }

    & ul a {
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
</style>

<article class="blog-post-card">
  <h3>
    <a href={`/blog/${blogPost.slug}`}>{blogPost.title}</a>
  </h3>
  {blogPost.categories && blogPost.categories.length > 0 && (
    <ul>
      {blogPost.categories.map(category => (
        <li>
          <a href={`/categories/${category.slug}`}>{category.title}</a>
        </li>
      ))}
    </ul>
  )}    
</article>
