---
const { testimonial } = Astro.props;
---
<style>
  .testimonial {
    max-width: 469px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .testimonial-client {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0.64;
  }

  .testimonial-text {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    line-height: 150%; /* 24px */
  }
</style>
<div class="testimonial">
  <p class="testimonial-client">[ {testimonial.clientNameRole} ]</p>
  <p class="testimonial-text">{testimonial.testimonialText}</p>
</div>
