---
import { queryCMS } from '../lib/cms';
import TestimonialCard from './TestimonialCard.astro';

const query = `
  query {
    allTestimonials(first: 3, orderBy: _createdAt_DESC) {
      clientNameRole
      testimonialText
    }
  }
`;

const { allTestimonials } = await queryCMS(query);
---

<div>
  {allTestimonials.map((testimonial) => <TestimonialCard testimonial={testimonial} />)}
</div>